spring:
  datasource:
    url: jdbc:postgresql://billing-db:5432/db_billing_users
    username: billing
    password: qwerty123

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: admin
    password: admin

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
